.container {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.d-flex {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  max-width: 50%;
}
