<section class="d-grid">
  <mat-card class="example-card" style="background-color:#5C8374">
    <mat-card-content>
      <div>
        <form
          action=""
          [formGroup]="forBoth"
          (ngSubmit)="onSubmit()"
          class="d-flex" 
          #formRef="ngForm"
        >
          <section>
            <mat-radio-group formControlName="view">
              <mat-label style="font-weight: bolder;"
                >Select Your Role</mat-label
              >
              <br />
              <mat-radio-button value="HR"><span style=" color: #183D3D;">HR</span></mat-radio-button>
              <mat-radio-button value="Employee"><span style=" color: #183D3D;">Employee</span></mat-radio-button>
            </mat-radio-group>
            <mat-error
              *ngIf="formRef.submitted && forBoth.controls['view'].invalid"
            >
              Please Your Role
            </mat-error>
          </section>
          <section>
            <mat-label style="font-weight: bolder">Employee ID :</mat-label>
            <br />
            <mat-form-field >
              <input
                matInput
                placeholder="Enter Employee ID"
                formControlName="id1"
               
              />
              <mat-error
                *ngIf="formRef.submitted && forBoth.controls['id1'].invalid"
              >
                Please enter the ID
              </mat-error>
            </mat-form-field>
          </section>

          <section>
            <mat-label style="font-weight: bolder">Date Range :</mat-label>
            <br />
            <mat-form-field>
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input
                  matStartDate
                  placeholder="Start date"
                  formControlName="range1"
                />
                <input
                  matEndDate
                  placeholder="End date"
                  formControlName="range2"
                />
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </section>

          <section>
            <button mat-raised-button style="background-color: #183D3D; color: #fff;" type="submit">
              Submit
            </button>
          </section>
        </form>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" style="background-color:#5C8374">
    <mat-card-content>
      <app-table [dataInput]="outputs"></app-table
    ></mat-card-content>
  </mat-card>
  <mat-card class="example-card" style="background-color:#5C8374">
    <mat-card-content>
      <app-bar-chart [dataInput]="outputs"></app-bar-chart>
    </mat-card-content>
  </mat-card>
</section>
