<p
  style="
    font-size: xx-large;
    font-weight: bolder;
    line-height: 40px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
    color: #5C8374;
  "
>
  Introducing our comprehensive Attendance Management Website – the ultimate
  solution to transform the way you track, manage, and analyze attendance. In a
  world where efficiency and accuracy are paramount, our platform redefines the
  norms of attendance oversight, catering to businesses, educational
  institutions, and organizations of all sizes.
</p>

<section class="d-flex">
  <button mat-raised-button  style="padding: 2%; margin: 2%;  border-radius: 10px; background-color: #183D3D;">
    <a [routerLink]="['/add']" style="text-decoration: none ; color: white; font-weight: bolder; font-size: large;">Add</a>
  </button>
  <button mat-raised-button  style="padding: 2%; margin: 2%;  border-radius: 10px; background-color: #183D3D;">
    <a [routerLink]="['/view']" style="text-decoration: none; color: white; font-weight: bolder; font-size: large;">View</a>
  </button>
</section>
