.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding-left: 35%;
  padding-right: 35%;

  padding-top: 7%;

  /* align-items: center; */
}

/* .d-grid {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-item {
  padding-left: 30%;
  padding-right: 30%;
} */
